
.cover{
   width: 100%;
  height: auto;
  max-width: 100vw;
   object-fit: fill !important;
   transition: .5s ease-in-out;
   cursor: pointer;
   
   
}
.cover:hover{
   
   transform: scale(1.1);
   -ms-transform: scale(1.1);
   -webkit-transform: scale(1.1);
}


.create-cover{
   width: 100%;
   height: 100%;
   max-width: 100vw;
    object-fit: fill !important;
    transition: .5s ease-in-out;
    cursor: pointer;
}